.login {
  display: flex;
  flex-direction: column;
}

.login-header {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-header__logo {
  background-color: $dark-green;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.input-box {
  display: block;
  width: 100%;
  margin: 12px 0;
  height: 42px;
  padding: 0 0 1px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid $grey-1;
  font-size: 1em;
  color: #1f1f1f;

  &:focus {
    outline: none;
    border-color: $light-green;
  }
}

.primary-button {
  padding: 12px;
  background: $light-green;
  color: $white-2;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.signup-link {
  display: block;
  text-decoration: none;
  color: $light-green;
  margin-top: 18px;
  margin-bottom: 24px;
  font-weight: 500;
  text-decoration: underline;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

@media screen and (min-width: 400px), screen and (min-height: 700px) {
  .login {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-height: 400px) {
  .login-header {
    flex-basis: 0;
  }
}
